include LICENSE README.rst

include pyproject.toml

include tox.ini .coveragerc
include src/build_bcrypt.py

recursive-include src/_csrc *
recursive-include tests *.py

exclude requirements.txt release.py .travis.yml azure-pipelines.yml

exclude .azure-pipelines
recursive-exclude .azure-pipelines *

prune .travis
