include LICENSE README.rst

include pyproject.toml

include tox.ini .coveragerc

recursive-include src py.typed *.pyi
recursive-include src/_bcrypt Cargo.toml Cargo.lock *.rs
recursive-include tests *.py

exclude requirements.txt release.py mypy.ini

recursive-exclude .github *
recursive-exclude .circleci *

exclude src/_bcrypt/target
recursive-exclude src/_bcrypt/target *
