include LICENSE README.rst

include tox.ini .coveragerc
include src/build_bcrypt.py

recursive-include src/_csrc *
recursive-include tests *.py

exclude requirements.txt tasks.py .travis.yml wheel-scripts Jenkinsfile

exclude .jenkins
recursive-exclude .jenkins *

recursive-exclude wheel-scripts *

prune .travis
