name: CI
on:
  pull_request: {}
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  macos:
    runs-on: macos-latest
    strategy:
      matrix:
         PYTHON:
          - {VERSION: "3.6", TOXENV: "py36"}
          - {VERSION: "3.9", TOXENV: "py39"}
    name: "Python ${{ matrix.PYTHON.VERSION }} on macOS"
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: ${{ matrix.PYTHON.VERSION }}

      - run: pip install tox
      - run: tox
        env:
          TOXENV: ${{ matrix.PYTHON.TOXENV }}

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        WINDOWS:
          - {ARCH: 'x86', WINDOWS: 'win32'}
          - {ARCH: 'x64', WINDOWS: 'win64'}
        PYTHON:
          - {VERSION: "3.6", TOXENV: "py36"}
          - {VERSION: "3.9", TOXENV: "py39"}
    name: "Python ${{ matrix.PYTHON.VERSION }} on ${{ matrix.WINDOWS.WINDOWS }}"
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: ${{ matrix.PYTHON.VERSION }}
          architecture: ${{ matrix.WINDOWS.ARCH }}

      - run: pip install tox
      - run: tox
        env:
          TOXENV: ${{ matrix.PYTHON.TOXENV }}
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON:
          - {VERSION: "3.9", TOXENV: "pep8,packaging"}
          - {VERSION: "3.9", TOXENV: "mypy"}
          - {VERSION: "3.6", TOXENV: "py36"}
          - {VERSION: "3.7", TOXENV: "py37"}
          - {VERSION: "3.8", TOXENV: "py38"}
          - {VERSION: "3.9", TOXENV: "py39"}
          - {VERSION: "pypy3", TOXENV: "pypy3"}
    name: "${{ matrix.PYTHON.TOXENV }} on linux"
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: ${{ matrix.PYTHON.VERSION }}
      - run: pip install tox
      - run: tox
        env:
          TOXENV: ${{ matrix.PYTHON.TOXENV }}

  manylinux-arm64:
    name: "${{ matrix.PYTHON.TOXENV }} on manylinux2014-aarch64"
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        PYTHON:
          - {VERSION: "cp36-cp36m", TOXENV: 'py36'}
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: arm64
      - uses: docker://quay.io/pypa/manylinux2014_aarch64
        with:
          args: |
              bash -c "set -xe;
              /opt/python/${{ matrix.PYTHON.VERSION }}/bin/python -m venv .venv;
              .venv/bin/pip install -U tox;
              .venv/bin/tox -e ${{ matrix.PYTHON.TOXENV }};"
