name: CI
on:
  pull_request: {}
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  macos:
    runs-on: ${{ matrix.MACOS }}
    strategy:
      fail-fast: false
      matrix:
        PYTHON:
          - {VERSION: "3.8", NOXSESSION: "tests"}
          - {VERSION: "3.13", NOXSESSION: "tests"}
          - {VERSION: "3.13t", NOXSESSION: "tests"}
        MACOS:
          - macos-13
          - macos-latest
    name: "Python ${{ matrix.PYTHON.VERSION }} on ${{ matrix.MACOS }}"
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup python
        id: setup-python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: ${{ matrix.PYTHON.VERSION }}
      - uses: actions/cache@v4.2.3
        timeout-minutes: 5
        with:
          path: |
            ~/Library/Caches/pip/
            ~/.cargo/registry/cache/
            ~/.cargo/registry/src/
            ~/.cargo/git/db/
            src/_bcrypt/target/
          key: ${{ runner.os }}-${{ matrix.PYTHON.VERSION }}-${{ steps.setup-python.outputs.python-version }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - run: pip install nox
      - run: nox -v
        env:
          NOXSESSION: ${{ matrix.PYTHON.NOXSESSION }}
          CARGO_TARGET_DIR: ${{ format('{0}/src/_bcrypt/target/', github.workspace) }}

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        WINDOWS:
          - {ARCH: 'x86', WINDOWS: 'win32', RUST_TRIPLE: 'i686-pc-windows-msvc'}
          - {ARCH: 'x64', WINDOWS: 'win64', RUST_TRIPLE: 'x86_64-pc-windows-msvc'}
        PYTHON:
          - {VERSION: "3.8", NOXSESSION: "tests"}
          - {VERSION: "3.13", NOXSESSION: "tests"}
          - {VERSION: "3.13t", NOXSESSION: "tests"}
    name: "Python ${{ matrix.PYTHON.VERSION }} on ${{ matrix.WINDOWS.WINDOWS }}"
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup python
        id: setup-python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: ${{ matrix.PYTHON.VERSION }}
          architecture: ${{ matrix.WINDOWS.ARCH }}
      - uses: actions/cache@v4.2.3
        timeout-minutes: 5
        with:
          path: |
            ~/AppData/Local/pip/Cache/
            ~/.cargo/bin/
            ~/.cargo/registry/cache/
            ~/.cargo/registry/src/
            ~/.cargo/git/db/
            src/_bcrypt/target/
          key: ${{ runner.os }}-${{ matrix.WINDOWS.ARCH }}-${{ matrix.PYTHON.VERSION }}-${{ steps.setup-python.outputs.python-version }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - run: pip install nox
      - run: nox -v
        env:
          NOXSESSION: ${{ matrix.PYTHON.NOXSESSION }}
          CARGO_TARGET_DIR: ${{ format('{0}/src/_bcrypt/target/', github.workspace) }}
  linux:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        PYTHON:
          - {VERSION: "3.13", NOXSESSION: "pep8,packaging"}
          - {VERSION: "3.13", NOXSESSION: "mypy"}
          - {VERSION: "3.8", NOXSESSION: "tests"}
          - {VERSION: "3.9", NOXSESSION: "tests"}
          - {VERSION: "3.10", NOXSESSION: "tests"}
          - {VERSION: "3.11", NOXSESSION: "tests"}
          - {VERSION: "3.12", NOXSESSION: "tests"}
          - {VERSION: "3.13", NOXSESSION: "tests"}
          - {VERSION: "3.13t", NOXSESSION: "tests"}
          - {VERSION: "pypy-3.9", NOXSESSION: "tests"}
          - {VERSION: "pypy-3.10", NOXSESSION: "tests"}
          - {VERSION: "pypy-3.11", NOXSESSION: "tests"}

          # MSRV
          - {VERSION: "3.13", NOXSESSION: "tests", RUST_VERSION: "1.64.0"}
          - {VERSION: "3.13", NOXSESSION: "tests", RUST_VERSION: "beta"}
          - {VERSION: "3.13", NOXSESSION: "tests", RUST_VERSION: "nightly"}
    name: "${{ matrix.PYTHON.VERSION }} on linux, Rust ${{ matrix.PYTHON.RUST_VERSION || 'stable' }}"
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup python
        id: setup-python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: ${{ matrix.PYTHON.VERSION }}
      - uses: actions/cache@v4.2.3
        timeout-minutes: 5
        with:
          path: |
            ~/.cache/pip/
            ~/.cargo/bin/
            ~/.cargo/registry/cache/
            ~/.cargo/registry/src/
            ~/.cargo/git/db/
            src/_bcrypt/target/
          key: ${{ runner.os }}-${{ matrix.PYTHON.VERSION }}-${{ steps.setup-python.outputs.python-version }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: dtolnay/rust-toolchain@888c2e1ea69ab0d4330cbf0af1ecc7b68f368cc1
        with:
          toolchain: ${{ matrix.PYTHON.RUST_VERSION || 'stable' }}

      - run: pip install nox
      - run: nox -v
        env:
          NOXSESSION: ${{ matrix.PYTHON.NOXSESSION }}
          CARGO_TARGET_DIR: ${{ format('{0}/src/_bcrypt/target/', github.workspace) }}

  alpine:
    runs-on: ${{ matrix.IMAGE.RUNNER }}
    container:
      image: ghcr.io/pyca/cryptography-runner-${{ matrix.IMAGE.IMAGE }}
      volumes:
        - /staticnodehost:/staticnodecontainer:rw,rshared
        - /staticnodehost:/__e/node20:ro,rshared
    strategy:
      matrix:
        IMAGE:
          - {IMAGE: "alpine", NOXSESSION: "tests", RUNNER: "ubuntu-latest"}
          - {IMAGE: "alpine:aarch64", NOXSESSION: "tests", RUNNER: "ubuntu-24.04-arm"}
    name: "${{ matrix.IMAGE.NOXSESSION }} on ${{ matrix.IMAGE.IMAGE }}"
    steps:
      - name: Ridiculous-er workaround for static node20
        run: |
          cp -R /staticnode/* /staticnodecontainer/
      - name: Ridiculous alpine workaround for actions support on arm64
        run: |
          # This modifies /etc/os-release so the JS actions
          # from GH can't detect that it's on alpine:aarch64. It will
          # then use a glibc nodejs, which works fine when gcompat
          # is installed in the container (which it is)
          sed -i "s:ID=alpine:ID=NotpineForGHA:" /etc/os-release
        if: matrix.IMAGE.IMAGE == 'alpine:aarch64'
      - uses: actions/checkout@v4.2.2
        with:
          persist-credentials: false
      - run: /venv/bin/pip install nox
      - run: /venv/bin/nox -v
        env:
          NOXSESSION: ${{ matrix.IMAGE.NOXSESSION }}
          RUSTUP_HOME: /root/.rustup
          CARGO_TARGET_DIR: ${{ format('{0}/src/_bcrypt/target/', github.workspace) }}

  linux-distros:
    runs-on: ${{ matrix.IMAGE.RUNNER }}
    container: ghcr.io/pyca/cryptography-runner-${{ matrix.IMAGE.IMAGE }}
    strategy:
      matrix:
        IMAGE:
          - {IMAGE: "ubuntu-rolling:aarch64", NOXSESSION: "tests", RUNNER: "ubuntu-24.04-arm"}
          - {IMAGE: "ubuntu-rolling:armv7l", NOXSESSION: "tests", RUNNER: "ubuntu-24.04-arm"}
    name: "${{ matrix.IMAGE.NOXSESSION }} on ${{ matrix.IMAGE.IMAGE }}"
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          persist-credentials: false
      - run: /venv/bin/pip install nox
      - run: /venv/bin/nox -v
        env:
          NOXSESSION: ${{ matrix.IMAGE.NOXSESSION }}
          RUSTUP_HOME: /root/.rustup
          CARGO_TARGET_DIR: ${{ format('{0}/src/_bcrypt/target/', github.workspace) }}

  all-green:  # This job does nothing and is only used for the branch protection
    if: always()

    needs:
    - macos
    - windows
    - linux
    - alpine
    - linux-distros

    runs-on: ubuntu-latest

    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe
      with:
        jobs: ${{ toJSON(needs) }}
